@page "/"
@using CarManagement.Data
@using Newtonsoft.Json;
@inject IModalService modal
<PageTitle>Car Management</PageTitle>

<h1>Car Management</h1>

<p><button style="float:right" @onclick="@(()=>modal.Show<AddCar>())" type="button" class="btn-primary">Add New Car</button></p>


<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Brand</th>
            <th>Car Name</th>
            <th>Model</th>
            <th>Color</th>
            <th>Transmition</th>
            <th>Fuel Type</th>
            <th>Seat Capacity</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in cars)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Brand</td>
                <td>@car.CarName</td>
                <td>@car.Model</td>
                <td>@car.Color</td>
                <td>@car.Transmition</td>
                <td>@car.FuelType </td>
                <td>@car.SeatCapacity </td>
                <td>@car.BodyType</td>
                <td>@car.Price</td>

            </tr>
        }
    </tbody>
</table>


@code {


    List<Car> cars = new List<Car>();
    protected override async Task OnInitializedAsync()
    {

        var response = await CarDataService.HttpMethodCalls("Cars/GetCars", HttpMethod.Get);
        if (response != null && response.IsSuccessStatusCode)
        {
            cars = JsonConvert.DeserializeObject<List<Car>>(response.Content.ReadAsStringAsync().Result);
        }
    }
}
